<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}} - aynmsgui</title>
<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
</head>
<body>
<div class="header">
<div class="header-inner">
  <a class="header-logo" href="/">aynmsgui</a>
  <div class="loginDisplay">
    Logged in as <strong>{{user_display}}</strong>
    [ <a href="/logout">Log Out</a> ]
  </div>
</div>
<div>
<ul class="menubar">
  <li><a href="/">Dashboard</a></li>
  <li class="dropdown">
    <a href="/assets">Assets</a>
    <div class="dropdown-content">
      <a href="/assets">All Assets</a>
      <a href="/seen">Seen Assets</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="/devices">Devices</a>
    <div class="dropdown-content">
      <a href="/devices">Logical Devices</a>
      <a href="/assignments">Assignments</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="/diff">Config</a>
    <div class="dropdown-content">
      <a href="/diff">Config Diffs</a>
      <a href="/retrieve">Retrieve Configs</a>
      <a href="/reconcile/services">Service Reconciliation</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="/software">Software</a>
    <div class="dropdown-content">
      <a href="/software">Versions</a>
      <a href="/extract-sw">Extract Image</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="/import">Actions</a>
    <div class="dropdown-content">
      <a href="/import">Import Device</a>
      <a href="/extract">Extract Config</a>
      <a href="/extract-sw">Extract Software</a>
      <a href="/retrieve">Retrieve Configs</a>
    </div>
  </li>
  <li><a href="/topology">Topology</a></li>
  <li><a href="/operations">Operations</a></li>
  <li><a href="/settings/credentials">Settings</a></li>
</ul>
</div>
</div>
<div class="main">
{{{content_html}}}
</div>
</body>
</html>
