<h1>Logical Devices</h1>
{{> quicksearch}}
<div class="table-scroll">
<table id="{{quicksearch_table_id}}">
<thead><tr><th>Name</th><th>Hostname</th><th>Role</th></tr></thead>
<tbody>
{{#rows}}
<tr><td><a href="/devices/{{name}}">{{name}}</a></td><td>{{hostname}}</td><td>{{role}}</td></tr>
{{/rows}}
</tbody>
</table>
</div>
{{> colresize}}
