<h1>Software Versions</h1>
<table>
<thead><tr><th>Serial</th><th>Hostname</th><th>Version</th></tr></thead>
<tbody>
{{#rows}}
<tr><td>{{serial}}</td><td>{{hostname}}</td><td>{{version}}</td></tr>
{{/rows}}
</tbody>
</table>
